.ui-content {
	max-width: 1500px;
/*	max-width: 100%;*/
	margin: 0 auto;
	padding: 0;
}

.sudlanan{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: space-around;
	flex-wrap: wrap;
	background-color: rgba(0,0,0,0.1);
	/*height: 100%;*/
	padding-top: 5px;
}

figure {
	display: flex;
  flex-direction: column-reverse;
	max-width: 100%;
	margin: 0 auto;
	min-width: 320px;
	/*min-height: 165px;*/
	min-height: 220px;
	flex-basis: 320px;
	flex-grow: 1;
	position: relative;
	/*border: 1px solid;*/
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 3px;
  background-color: rgba(1,75,66,0.3);
  cursor: pointer;
  /*background: url('./pbayImages/Pictures/landscape/AerialView.jpg') no-repeat;*/
}

figcaption {
	background-color: rgba(0,0,0,0.2);
	display: block;
	position: absolute;
	width: 100%;
	font-size: 23px;
	text-align: center;
	color: #fff;
	padding: 10px 5px 15px 5px;
	/*bottom: 5px;*/
	top: 0px;
	box-sizing: border-box;
	text-transform: uppercase;
}

figure img {
	max-width: 100%;
	margin: 0 auto;
}

@media  (max-width: 960px) {
	figure {
		min-width: 250px;
		flex-basis: 250px;
	}
}

@media  (min-width: 1280px) {
	figure {
		min-width: 400px;
		flex-basis: 400px;
	}
}

.angUlo{
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 15px;
	padding-bottom: 20px;
}

#roomsImages,
#restaurantsImages,
#landscapesImages,
#activitiesImages,
#mogambospringsImages,
#weddingsImages {
	max-width: 100%;
	margin: 0 auto;
	position: relative;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 3px;
  background-color: rgba(1,75,66,0.3);
}

#roomsImages .imgDescription,
#restaurantsImages .imgDescription,
#landscapesImages .imgDescription,
#activitiesImages .imgDescription,
#mogambospringsImages .imgDescription,
#weddingsImages .imgDescription {
	background-color: transparent;
	/*background-color: rgba(0,0,0,0.5);*/
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	position: absolute;
	width: 90%;
	height: 100%;
	padding: 0px 10px 10px;
	bottom: 0px;
	box-sizing: border-box;
	color: #fff;
	text-decoration: none;
	z-index: 10000
}
	.slideCaption {
		/*background-color: green;*/
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		width: 100%;
		}
		.slideCaption .descriptionText {
			max-width: 600px;
		}
		.slideCaption h2{
			background-color: rgba(1,75,66,0.8);
			padding: 10px;
			margin-bottom: 0;
			text-decoration: none;
    	text-shadow: none;
		}
		.slideCaption p {
			margin-top: 0;
			padding: 10px;
			background-color: rgba(1,75,66,0.6);
			font: normal 20px Arial;
    	text-decoration: none;
    	text-shadow: none;
			text-align: left;
		}

	.slideControls {
		/*background-color: blue;*/
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-self: flex-end;
		padding-top: 5px;
		margin-bottom: 5px;
		}
		.slideControls button {
			/*flex-basis: 55px;*/
			margin-left: 3px;
		}


		.slideControls .ui-btn {
			padding: .3em .5em;
		}

/*		.slideControls button.btnCaption {
			width: 200px;
		}*/

.mainLoader {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/


	/*background-color: rgba(0,0,0,0.2);*/
	display: block;
	position: absolute;
	width: 100%;
	font-size: 23px;
	text-align: center;
	color: #fff;
	padding: 10px 5px 15px 5px;
	/*bottom: 5px;*/
	bottom: 0px;
	box-sizing: border-box;
	/*text-transform: uppercase;*/

	}
	.mainLoader p {
		font-size: 14px;
		color: #fff;
		text-shadow: none;
		text-decoration: none;
		margin-top: 3px;
    margin-bottom: 10px;
	}
	.mainLoader img {
		width: 48px;
		height: 48px;
	}

.loader {
  left: 50%;
  top: 50%;
  /*position: fixed;*/
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  .loader #spinner {
    box-sizing: border-box;
    stroke: #673AB7;
    stroke-width: 3px;
    -webkit-transform-origin: 50%;
            transform-origin: 50%;
    -webkit-animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
            animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite; }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  to {
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg); } }

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  to {
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg); } }

@-webkit-keyframes line {
  0% {
    stroke-dasharray: 2, 85.964;
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  50% {
    stroke-dasharray: 65.973, 21.9911;
    stroke-dashoffset: 0; }
  100% {
    stroke-dasharray: 2, 85.964;
    stroke-dashoffset: -65.973;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); } }

@keyframes line {
  0% {
    stroke-dasharray: 2, 85.964;
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  50% {
    stroke-dasharray: 65.973, 21.9911;
    stroke-dashoffset: 0; }
  100% {
    stroke-dasharray: 2, 85.964;
    stroke-dashoffset: -65.973;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); } }            